.wrapper_home {
    display: flex; 
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper_main {
    background-color: #F2F2F2;
    width: 100%;
    min-height: 100vh;
}

.wrapper_main {
    padding: 16px 16px;
}

.wrapper_links {
    display: flex;
    column-gap: 16px;
}

@media (max-width: 768px) {
    .wrapper_home {
        flex-direction: column;
    }
    .wrapper_links {
        flex-wrap: wrap;
    }

}